@font-face {
    font-family: 'DMSans';
    src: url(/assets/DMSans-Bold-f2e6e97e5ad7f69c40ed1d152bab9434279e679290ef719cb98f0a49d788d91c.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans';
    src: url(/assets/DMSans-BoldItalic-f166b0ff29a4e45351197c12a029a532178d75250f18f859d5730a489d3d7543.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DMSans';
    src: url(/assets/DMSans-Italic-d688937f3405dacd80844d39b03602b4281376ae2c97628b29b711008620d872.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DMSans';
    src: url(/assets/DMSans-Regular-3d0769d26f94faa4bc92a27176822e77e3fb8251d5c70d0110b52a8ecba3c579.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
